# Project exclude paths
/.gradle/
/student-service/build/
/student-service/build/classes/java/main/
/registry/build/
/registry/build/classes/java/main/
/gateway/build/
/gateway/build/classes/java/main/
/config-service/build/
/config-service/build/classes/java/main/